<article class="psychic-profile">
  <div class="psychic-details-avatar">
    <%= cl_image_tag(@psychic.avatar_id, :width => 270, :height => 270, :crop => :thumb, :gravity => 'faces:center', :radius => :max) %>

    <div class="favorite_button">
      <% if current_user and current_user.client %>
        <% if current_user.client.favorite?(@psychic) %>
          <span>Remove from Favorites</span>
          <%= link_to image_tag("psychic-card-favorite-on.png"), remove_favorite_client_path(psychic_id: @psychic.id), class: "fav_button" %>
        <% else %>
          <span>Add to Favorites</span>
          <%= link_to image_tag("psychic-card-favorite-off.png"), make_favorite_client_path(psychic_id: @psychic.id), class: "fav_button" %>
        <% end %>
      <% end %>
      </div>
  </div>

  <div class="psychic-profile">
    <h1><%= @psychic.alias_name %></h1>
    <p>
      <%= @psychic.about %>
    </p>

    <% if @psychic.specialties.present? %>
      <p class="psychic-expert">
        Expert In: <%= @psychic.specialties.titleize %>
      </p>
    <% end %>

    <p class="psychic-ext">
      Ext: <%= @psychic.extension %>
    </p>

    <div class="psychic_state">
      <% if @psychic.available? %>
        <%= image_tag("psychics/im_available.png") %>
      <% else %>
        <%= image_tag("psychics/im_on_a_call.png") if @psychic.on_a_call? %>
      <% end %>
    </div>
  </div>
</article>
