<div class="control-group">
  <%= f.label :first_name, "Name", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :first_name, placeholder: "First name", autofocus: true, autocomplete: 'on' %>
    <%= f.text_field :last_name, placeholder: "Last name", autocomplete: 'on' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :username, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :username, autocomplete: 'off' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, :class => 'control-label' %>
  <div class="controls">
    <%= f.email_field :email, autocomplete: 'off' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, class: 'control-label' %>
  <div class="controls">
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password_confirmation, class: 'control-label' %>
  <div class="controls">
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>
</div>

<div><%= f.submit "Sign up", class: 'btn' %></div>
