<legend>
  <%= @client.full_name %>'s Calls
</legend>

<div class="control-group">
  <div class="controls">
    <% if @calls.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Call ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>From</th>
            <th>Psychic</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Refunded?</th>
          </tr>
        </thead>
        <tbody>
          <% @calls.reverse.each do |call| %>
            <tr>
              <td><%= call.id %></td>
              <td><%= call.parsed_start_date_only %></td>
              <td><%= call.parsed_start_time_only %></td>
              <td><%= call.formatted_number %></td>
              <td><%= call.psychic_alias_name %></td>
              <td class="right">
                <%= call.formatted_duration %>
              </td>
              <td class="right">
                <%= number_to_currency call.cost %>
              </td>
              <td>
                <% if call.refunded? %>
                  <i class="icon-ok"></i>
                <% else %>
                  <%= link_to 'Refund call', refund_admin_call_path(call), data: { confirm: "Are you sure?"}, :method => "post" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @calls %>
    <% else %>
      <div class="blank-state">
        No calls logged yet.
      </div>
    <% end %>
  </div>
</div>
