<%= form_for(object, :url => client_path, :html => { :class => 'form form-horizontal' }) do |f| %>
  <%= render 'errors', object: object %>

  <legend>Personal Info</legend>

  <div class="control-group">
    <%= f.label :first_name, "Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, placeholder: "First name", autofocus: true, autocomplete: 'on' %>
      <%= f.text_field :last_name, placeholder: "Last name", autocomplete: 'on' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time_zone, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </div>
  </div>

  <%= f.fields_for :client do |cf| %>
    <%= add_checkbox cf, :receive_newsletters %>
  <% end %>

  <legend>Password</legend>

  <p>Leave password blank unless you want to change your current password.</p>

  <div class="control-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <%= f.submit "Save", class: "btn" %>
  <%= link_to "Cancel", dashboard_path, class: "btn", rows: 10 %>
<% end %>
