<%= form_for user, url: user_registration_path, remote: "true", method: :put do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="field full">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="row">
      <div class="field full">
        <%= f.label :password_confirmation, "Confirm your new password" %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="row">
      <div class="field reset_field">
        <%= f.label :current_password, "You need your current password" %>
        <%= f.password_field :current_password %>
        <%= link_to image_tag("modal/reset_btn.png"), "#", class: "reset_form" %>
      </div>
    </div>
  </div>

  <%= render "shared/form_validation_errors", model: user %>

  <footer>
    <%= image_submit_tag "modal/save_btn.png" %>
    <%= link_to image_tag("modal/cancel_btn.png"), "#", class: "close-button" %>
  </footer>
<% end %>