<%= form_for([@invoice, object], :url => admin_invoice_payments_path(@invoice), :html => { :class => 'form form-inline' }) do |f| %>

  <%= render 'errors', object: object %>

  <%= add_text_field f, :amount, nil, input: { class: 'money' } %>
  <%= add_text_field f, :transaction_id, "Transaction ID" %>

  <div class="form-actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", :back, class: "btn" %>
  </div>
<% end %>
