<%= form_for([:admin, object], :html => { :class => 'form form-horizontal' }) do |f| %>

  <%= render 'errors', object: @category %>

  <fieldset>
    <%= f.label :name, "Category Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, autofocus: true, class: 'input-xxlarge' %>
    </div>
  </fieldset>

  <fieldset>
    <%= f.fields_for :faqs do |builder| %>
      <%= render "faq_fields", :f => builder %>
    <% end %>

    <%= link_to_add_fields("Add a new FAQ", f, :faqs, :class => "btn btn-small btn-primary pull-right", :title => "Add a new FAQ to this Category.") %>
  </fieldset>

  <div class="modal-footer">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_psychic_faq_categories_path, class: "btn" %>
   </div>
<% end %>
