<%= form_for(user = User.new, :as => :user, remote: true, :url => password_path(:user)) do |f| %>

  <%= render "shared/form_validation_errors", model: user %>

  <div class="field full">
    <%= f.label :login, "Username / Telephone / Email Address" %>
    <%= f.text_field :login, :autofocus => true, placeholder: "Username / Telephone / Email Address" %>
  </div>

  <footer>
    <%= image_submit_tag "modal/reset_password_button.png" %>
    <%= link_to image_tag("modal/cancel_btn.png"), "#", :class => 'close-button' %>
  </footer>
<% end %>