<div class="row-fluid">
  <div class="span12">
    <h3>Customer Service Representatives</h3>

    <% if @csrs.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% localized(@csrs).each do |csr| %>
            <tr>
              <td class="admin-actions">
                <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_customer_service_representative_path(csr) %>
                <%= link_to '<i class="icon-remove"></i>'.html_safe, [:admin, csr], data: {confirm: "Are you sure?" }, :method => "delete" %>
              </td>
              <td><%= link_to csr.username, edit_admin_customer_service_representative_path(csr) %></td>
              <td><%= csr.first_name %></td>
              <td><%= csr.last_name %></td>
              <td><%= csr.email %></td>
              <td><%= csr.phone %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @csrs %>

    <% else %>
      <div class="blank-state">
        No CSRs added yet.
        <%= link_to "Add one now.", new_admin_customer_service_representative_path %>
      </div>
    <% end %>
    <%= link_to "Add new CSR", new_admin_customer_service_representative_path, class: "btn btn-small" %>
  </div>
</div>
