<!DOCTYPE html>
<html>
<head>
  <title>IHeartPsychics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">IHeartPsychics</a>
      <ul class="nav">
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to "Psychic Application", new_psychic_application_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <% if flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
